tb_api_access:
    host: <your thingsboard host>
    user: <your thingsboard user>
    passwd: <your thingsboard password>
tb_entities_access:
    root_asset_id: <your thingsboard root asset id>
inmet_info:
    metadata_source_url: <inmet datasource url>